@charset "UTF-8";

.errors {
  color: red;
  font-size: 13px;
}

header {
  background-color: #F6463A;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.headerimg {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.itemListBox {
  float: left;
  margin: 0 auto;
  width: 50%;
}

.itemList {
  text-align: center;
}

.cartListBox {
  float: left;
  margin: 0 auto;
  width: 50%;
}

.cartList {
  text-align: center;
}

h1 {
  text-align: center; color : #F6463A;
  font-size: 18px;
  color: #F6463A;
}

.totalAmount {
  margin: 0 auto;
  text-align: center;
  clear: both;
  color: #F6463A;
  font-size: 20px;
  font-weight: bold;
}

button {
  background-color: #f5e9e2;
  border: 1px solid gray;
  padding: 3px 5px;
  border-radius: 6px;
  margin: 3px;
}

